In [ ]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# lodaing the dataset to pandas dataframe
credit_card_data = pd.read_csv("/content/creditcard.csv")

In [ ]:
#  first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
194189,130473.0,-2.020698,1.776253,-1.065479,-2.769201,-0.064483,-0.870269,-0.005058,1.350026,0.012971,...,-0.247153,-1.029805,-0.064710,-1.083659,0.132321,0.436510,0.046391,0.073014,1.00,0.0
194190,130473.0,2.043725,-0.099641,-1.174763,0.223753,0.079134,-0.704267,0.080115,-0.172561,0.289565,...,-0.258043,-0.637271,0.287931,-0.333452,-0.282316,0.198073,-0.074182,-0.073311,0.89,0.0
194191,130474.0,1.842498,-0.752856,1.137319,2.390623,-1.447940,0.953968,-1.573333,0.401153,1.289612,...,0.004503,0.454859,0.258029,0.038701,-0.774425,2.331048,-0.083683,-0.050854,21.71,0.0
194192,130474.0,2.168959,-1.157163,-1.043238,-1.217888,-0.472766,0.536149,-1.216259,0.217502,0.057792,...,0.304777,0.838372,0.036949,-0.342829,-0.071414,-0.070816,-0.004231,-0.061583,24.99,0.0
194193,130474.0,-0.301503,0.604028,-0.067684,-0.450046,0.662453,-0.282373,0.964187,-0.131715,-0.258089,...,-0.031390,-0.084385,0.154369,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dataset inforamation
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194194 entries, 0 to 194193
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    194194 non-null  float64
 1   V1      194194 non-null  float64
 2   V2      194194 non-null  float64
 3   V3      194194 non-null  float64
 4   V4      194194 non-null  float64
 5   V5      194194 non-null  float64
 6   V6      194194 non-null  float64
 7   V7      194194 non-null  float64
 8   V8      194194 non-null  float64
 9   V9      194194 non-null  float64
 10  V10     194194 non-null  float64
 11  V11     194194 non-null  float64
 12  V12     194194 non-null  float64
 13  V13     194194 non-null  float64
 14  V14     194194 non-null  float64
 15  V15     194194 non-null  float64
 16  V16     194194 non-null  float64
 17  V17     194194 non-null  float64
 18  V18     194194 non-null  float64
 19  V19     194194 non-null  float64
 20  V20     194194 non-null  float64
 21  V21     194194 non-null  float64
 22  V22     194194 non-null  float64
 23  V23     194194 non-null  float64
 24  V24     194193 non-null  float64
 25  V25     194193 non-null  float64
 26  V26     194193 non-null  float64
 27  V27     194193 non-null  float64
 28  V28     194193 non-null  float64
 29  Amount  194193 non-null  float64
 30  Class   194193 non-null  float64
dtypes: float64(31)
memory usage: 45.9 MB

In [ ]:
# checking the number of missing values for each coulumn
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# cheking the distrubtion for lgit trasnaction and  furad 
credit_card_data['Class'].value_counts()

0.0    193812
1.0       381
Name: Class, dtype: int64

In [ ]:
# this dataset is hilaghy anblanced
#label 0 is normal transaction and the label 1 is fruad

In [ ]:
# spreating the data for analazys
legit = credit_card_data[credit_card_data.Class==0]
fruad = credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fruad.shape)

(193812, 31)
(381, 31)

In [ ]:
# statsical mesuers  of the data 
legit.Amount.describe()

count    193812.000000
mean         89.425440
std         248.512542
min           0.000000
25%           5.990000
50%          22.900000
75%          79.000000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fruad.Amount.describe()

count     381.000000
mean      116.421155
std       247.034583
min         0.000000
25%         1.000000
50%        11.400000
75%       104.030000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# compering values for  both  trasns action
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,68829.705849,-0.104350,-0.000903,0.365061,0.074709,-0.114775,0.051884,-0.043405,0.018985,0.015904,...,0.020889,-0.018183,-0.053682,-0.017107,0.005055,0.065969,0.007215,0.000952,0.002047,89.425440
1.0,60541.997375,-5.755911,4.243874,-7.768470,4.780104,-4.143295,-1.408967,-6.702717,0.703757,-2.780511,...,0.382486,0.798233,-0.021515,-0.038763,-0.066856,0.074069,0.041146,0.177640,0.056083,116.421155

In [ ]:
# under-sampling
# budling a  sample dataset containing similar distriubtuoon of normal trasnactiona and the fruad 
# the number of fruadlent trasnactions -->  381 
legit_sample = legit.sample(n=381)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
new_dataset = pd.concat([legit_sample,fruad],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
118476,75095.0,1.310769,0.493648,-0.818835,0.776621,0.169486,-1.222301,0.259898,-0.168854,0.179907,...,-0.210476,-0.646871,-0.120233,-0.283127,0.567393,0.406767,-0.044846,0.033379,0.76,0.0
48871,43819.0,-0.582103,-0.038040,0.434506,-2.095785,2.576852,3.249560,0.076764,0.742467,-0.133142,...,-0.153401,-0.646917,0.056499,1.018319,-0.397562,0.591593,-0.152720,-0.099744,40.30,0.0
102518,68236.0,-1.359974,1.208105,2.386819,0.363624,-0.636846,-0.240182,-0.099397,0.789910,-1.030912,...,0.060589,-0.106265,-0.122008,0.523326,0.050779,0.713557,0.070159,0.045132,7.05,0.0
18434,29494.0,1.291071,0.156044,0.259471,0.522972,-0.308064,-0.707633,-0.015307,-0.142722,0.202978,...,-0.138715,-0.406299,-0.023889,-0.109723,0.401220,0.293696,-0.034337,0.010161,5.00,0.0
190162,128716.0,2.015801,0.151300,-2.456385,0.366718,0.790268,-1.772774,1.239458,-0.761908,0.000067,...,0.360855,1.222722,-0.298029,0.091027,0.909822,-0.202776,-0.051503,-0.069190,61.33,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
191690,129371.0,1.183931,3.057250,-6.161997,5.543972,1.617041,-1.848006,-1.005508,0.339937,-2.959806,...,0.109185,-0.931072,-0.064175,-0.007013,0.345419,0.064558,0.476629,0.323740,0.00,1.0
192382,129668.0,0.753356,2.284988,-5.164492,3.831112,-0.073622,-1.316596,-1.855495,0.831079,-1.567514,...,0.382007,0.033958,0.187697,0.358433,-0.488934,-0.258802,0.296145,-0.047174,2.00,1.0
192529,129741.0,-1.396204,2.618584,-6.036770,3.552454,1.030091,-2.950358,-1.528506,0.189319,-1.433554,...,0.143177,-0.390176,0.356029,-0.762352,0.096510,-0.487861,0.062655,-0.240732,1.00,1.0
192584,129764.0,-2.434004,3.225947,-6.596282,3.593161,-1.079452,-1.739741,-0.047420,0.301424,-1.779434,...,-0.035491,-0.419178,0.157436,-0.714849,0.468859,-0.348522,0.420036,-0.327643,362.55,1.0
192687,129808.0,1.522080,-0.519429,-2.581685,0.774741,0.206722,-1.431020,0.757011,-0.444418,0.997921,...,0.019649,-0.211678,-0.247452,-0.279472,0.239646,-0.508398,-0.015551,0.041881,276.17,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    381
1.0    381
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,69335.398950,-0.200207,-0.015905,0.299232,0.044755,-0.084707,0.119309,-0.100058,0.059681,0.030917,...,0.033789,-0.088178,-0.061719,0.024364,-0.019009,0.064541,-0.023879,-0.019969,-0.010610,95.115381
1.0,60541.997375,-5.755911,4.243874,-7.768470,4.780104,-4.143295,-1.408967,-6.702717,0.703757,-2.780511,...,0.382486,0.798233,-0.021515,-0.038763,-0.066856,0.074069,0.041146,0.177640,0.056083,116.421155

Spliting the data into featuers & targets

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
118476   75095.0  1.310769  0.493648 -0.818835  0.776621  0.169486 -1.222301
48871    43819.0 -0.582103 -0.038040  0.434506 -2.095785  2.576852  3.249560
102518   68236.0 -1.359974  1.208105  2.386819  0.363624 -0.636846 -0.240182
18434    29494.0  1.291071  0.156044  0.259471  0.522972 -0.308064 -0.707633
190162  128716.0  2.015801  0.151300 -2.456385  0.366718  0.790268 -1.772774
...          ...       ...       ...       ...       ...       ...       ...
191690  129371.0  1.183931  3.057250 -6.161997  5.543972  1.617041 -1.848006
192382  129668.0  0.753356  2.284988 -5.164492  3.831112 -0.073622 -1.316596
192529  129741.0 -1.396204  2.618584 -6.036770  3.552454  1.030091 -2.950358
192584  129764.0 -2.434004  3.225947 -6.596282  3.593161 -1.079452 -1.739741
192687  129808.0  1.522080 -0.519429 -2.581685  0.774741  0.206722 -1.431020

              V7        V8        V9  ...       V20       V21       V22  \
118476  0.259898 -0.168854  0.179907  ... -0.186492 -0.210476 -0.646871
48871   0.076764  0.742467 -0.133142  ...  0.256553 -0.153401 -0.646917
102518 -0.099397  0.789910 -1.030912  ... -0.129222  0.060589 -0.106265
18434  -0.015307 -0.142722  0.202978  ... -0.110472 -0.138715 -0.406299
190162  1.239458 -0.761908  0.000067  ... -0.099822  0.360855  1.222722
...          ...       ...       ...  ...       ...       ...       ...
191690 -1.005508  0.339937 -2.959806  ...  0.252571  0.109185 -0.931072
192382 -1.855495  0.831079 -1.567514  ...  0.285792  0.382007  0.033958
192529 -1.528506  0.189319 -1.433554  ...  0.031795  0.143177 -0.390176
192584 -0.047420  0.301424 -1.779434  ... -0.280533 -0.035491 -0.419178
192687  0.757011 -0.444418  0.997921  ...  0.361169  0.019649 -0.211678

             V23       V24       V25       V26       V27       V28  Amount
118476 -0.120233 -0.283127  0.567393  0.406767 -0.044846  0.033379    0.76
48871   0.056499  1.018319 -0.397562  0.591593 -0.152720 -0.099744   40.30
102518 -0.122008  0.523326  0.050779  0.713557  0.070159  0.045132    7.05
18434  -0.023889 -0.109723  0.401220  0.293696 -0.034337  0.010161    5.00
190162 -0.298029  0.091027  0.909822 -0.202776 -0.051503 -0.069190   61.33
...          ...       ...       ...       ...       ...       ...     ...
191690 -0.064175 -0.007013  0.345419  0.064558  0.476629  0.323740    0.00
192382  0.187697  0.358433 -0.488934 -0.258802  0.296145 -0.047174    2.00
192529  0.356029 -0.762352  0.096510 -0.487861  0.062655 -0.240732    1.00
192584  0.157436 -0.714849  0.468859 -0.348522  0.420036 -0.327643  362.55
192687 -0.247452 -0.279472  0.239646 -0.508398 -0.015551  0.041881  276.17

[762 rows x 30 columns]

In [ ]:
print(Y)

118476    0.0
48871     0.0
102518    0.0
18434     0.0
190162    0.0
         ...
191690    1.0
192382    1.0
192529    1.0
192584    1.0
192687    1.0
Name: Class, Length: 762, dtype: float64

Spilt the data into training data and testing data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(762, 30) (609, 30) (153, 30)

Model Training

Logistic regression Model

In [50]:
model = LogisticRegression()

In [51]:
# traing the LogisticRegression with the  training data
model.fit(X_train,Y_train)

LogisticRegression()

Accuracy socre

In [52]:
# accuracy on traing data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [53]:
print('Accuracy on traing data:',training_data_accuracy)

Accuracy on traing data: 0.9441707717569786

In [55]:
# accury on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy =  accuracy_score(X_test_prediction,Y_test)

In [58]:
print('Accury score on test data:',test_data_accuracy)

Accury score on test data: 0.954248366013072